#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}

.todo-app {
  background: #243a73;
  margin: auto;
  max-width: 400px;
  border: 2px solid rgba(204, 194, 194, 0.5);
  border-radius: 10px;
}

.input-todo {
  width: 70%;
  display: inline;
  margin: 15px 15px;
  background: rgb(175, 175, 175);
  border: none;
  border-radius: 5px;
  padding: 3px;
  text-align: left;
  font-size: 15px;
}
.input-todo :focus {
  outline: none;
}
.add-todo {
  border-radius: 10px;
  border: none;
  padding: 5px;
  background: rgb(3, 146, 87);
  color: white;
  font-size: 12px;
}

.items {
  display: flex;
  margin: 5px 10px;
  display: inline;
  white-space: nowrap;
}

.item {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  border: 2px solid rgba(9, 53, 90, 0.5);
  border-radius: 10px;
  background: #a5becc;
  margin-left: 15px;
  padding: 3px;
  font-size: 15px;
  overflow: hidden;
}

.delete-todo-btn {
  font-size: 13px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 99, 99);
}

.remove-all-btn {
  font-size: 16px;
  text-align: center;
  margin: 5px 100px;
  border-radius: 20px;
  border: none;
  background: rgb(255, 99, 99);
}

.hide-rem-btn {
  visibility: hidden;
}
